ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
body {
  background-image:url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi2x4jXlM_
  JAhULbz4KHYghC0YQjRwIBw&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26cad%3Drj
  a%26uact%3D8%26ved%3D0ahUKEwi2x4jXlM_JAhULbz4KHYghC0YQjRwIBw%26url%3Dhttp%253A%252F%252Fwww.traemcneely.com%252F
  2011%252F09%252F11%252Ftrees-in-the-autumn-park-tablet-phone-wallpaper-background%252F%26bvm%3Dbv.109395566%2Cd.cWw%26
  psig%3DAFQjCNE5qjGB4MShLVL0uR-LE20dbV-CNA%26ust%3D1449763621742857&bvm=bv.10939
  5566,d.cWw&psig=AFQjCNE5qjGB4MShLVL0uR-LE20dbV-CNA&ust=1449763621742857);
}

head {
    text-align: center;
    color: inherit;
}
